%footer
  .footer-copy.legal
    Copyright &copy; 2016 Methodic Limited. All rights reserved. Methodic Limited
    is a company registered in England and Wales with company number 9402598 and
    VAT registration number 205 7155 29.

  .footer-copy.director-contact
    .contact-detail.name
      Edward Minnett,
    .contact-detail.position
      Company Director,
    = succeed "," do
      %a.contact-detail.email{:href => "mailto:ed@methodic.io"} ed@methodic.io
    %a.contact-detail.github{:href => "https://github.com/eminnett"} GitHub Profile

  .footer-copy.business-address
    .contact-detail.company
      Methodic Limited,
    .contact-detail.address
      7 Willow Lane,
    .contact-detail.town
      Milton, Abingdon,
    .contact-detail.county
      Oxfordshire,
    .contact-detail.post-code
      OX14 4EG,
    .contact-detail.country
      United Kingdom
    %a.contact-detail.github{:href => "https://github.com/methodic-io"} GitHub Organisation
