%header
  = image_tag "methodic_logo.svg",  :alt => "Methodic Logo", :class => "logo"
  %h1.title Methodic.io
%main
  %h2.subheading.first Methodic is a Software Consultancy
  %p
    We provide Ruby and Javascript, full-stack web development and software consulting. We offer our services in London, Reading and Oxford, but are just as capable working remotely from our office in South Oxfordshire.
  %p
    Apologies for the lack of details, but this website is merely a placeholder while a more informative and feature rich site is in development. If you wish to ask how Methodic can help with your software, please feel free to contact the founder,
    = succeed "." do
      %a{:href => "mailto:ed@methodic.io"} Edward Minnett
  %p
    To get a sense of what Methodic can offer, please feel free to browse Edward's experience as illustrated by his
    = succeed "." do
      %a{:href => "https://www.linkedin.com/in/eminnett"} LinkedIn profile
  %h2.subheading Methodic is a Research Endeavour
  %p
    We also invest time exploring the disciplines of data science and machine learning. It is clear that the application of these subjects is increasingly important for web application development. Our hope is that this investment will help enrich the service we provide our clients. Ultimately, we intend for this website to become a platform where we can share much of this research.
.background
