%header
  = image_tag "methodic_logo.svg",  :alt => "Methodic Logo", :class => "logo"
  %h1.title Methodic.io
%main
  %h2.subheading.first Methodic is a Software Consultancy
  .copy
    %p
      We provide Ruby and Javascript, full-stack web development and software consulting. We offer our services in London, Reading and Oxford, but are just as capable working remotely from our office in South Oxfordshire.
    %p
      Apologies for the lack of details, but this website is merely a placeholder while a more informative and feature rich site is in development. If you wish to ask how Methodic can help with your software, please feel free to contact the founder,
      = succeed "." do
        %a{:href => "mailto:ed@methodic.io"} Edward Minnett
    %p
      To get a sense of what Methodic can offer, please feel free to browse Edward's experience as illustrated by his
      = succeed "." do
        %a{:href => "https://www.linkedin.com/in/eminnett"} LinkedIn profile
  %h2.subheading Methodic is a Research Endeavour
  .copy
    %p
      We also invest time exploring the disciplines of data science and machine learning. It is clear that the application of these subjects is increasingly important for web application development. Our hope is that this investment will help enrich the service we provide our clients. Ultimately, we intend for this website to become a platform where we can share much of this research.
%footer
  .footer-copy.legal
    Copyright &copy; 2016 Methodic Limited. All rights reserved. Methodic Limited is a company registered in England and Wales with company number 9402598 and VAT registration number 205 7155 29.

  .footer-copy.director-contact
    .contact-detail.name
      Edward Minnett,
    .contact-detail.position
      Company Director,
    = succeed "," do
      %a.contact-detail.email{:href => "mailto:ed@methodic.io"} ed@methodic.io
    %a.contact-detail.github{:href => "https://github.com/eminnett"} GitHub Profile

  .footer-copy.business-address
    .contact-detail.company
      Methodic Limited,
    .contact-detail.address
      7 Willow Lane,
    .contact-detail.town
      Milton, Abingdon,
    .contact-detail.county
      Oxfordshire,
    .contact-detail.post-code
      OX14 4EG,
    .contact-detail.country
      United Kingdom
    %a.contact-detail.github{:href => "https://github.com/methodic-io"} GitHub Organisation
.background
