$MEDIUM_GREY: #666666;
$DARK_GREY: #333333;
$WHITE: #FFFFFF;
$OFF_WHITE: #E8E1DA;
$PURPLE: #5F0647;
$YELLOW: #FFCE00;
$ORANGE: #F99808;
$RED: #F93D08;
$DARK_BLUE: #130957;

@import url(https://fonts.googleapis.com/css?family=Maven+Pro:400,700);

html {
    background: $OFF_WHITE;
}

body {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;

    width: auto;
    margin-left: 10px;
    margin-right: 10px;
}

header {
    margin-top: 20px;
    .logo {
        position: relative;
        margin-left: 50%;
        left: -116px;
        width: 333px;
    }
    .title {
        position: relative;
        margin: 0 0 40px 50%;
        left: -120px;
        width: 240px;

        color: $PURPLE;
        font-size: 2.85rem;
        font-weight: 400;
    }
}

main {
    border-left: 3px solid $PURPLE;
    border-right: 3px solid $PURPLE;
    padding: 0 30px;
    margin-bottom: 30px;
    color: $MEDIUM_GREY;

    .subheading {
        margin-top: 40px;
        color: $DARK_BLUE;
        font-weight: 700;
        font-size: 1.2rem;
        &.first {
            margin-top: 0;
        }
    }

    a {
        color: $RED;
        text-decoration: none;
        &:hover {
            color: $ORANGE;
        }
    }

    .copy {
        line-height: 1.5rem;
        font-size: 0.8rem;
    }
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    /* Old browsers */
    background: $OFF_WHITE;
     /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background: linear-gradient(to bottom, $WHITE 0%, $OFF_WHITE 100%);
}

// TODO: Add CSS animations to make the transitions between breakpoints nicer.

@media screen and (min-width: 480px) {
    body {
        width: 460px;
        margin: 0 auto;
    }
    main {
        .subheading {
            font-size: 1.4rem;
        }
        .copy {
            font-size: 1rem;
        }
    }
}

@media screen and (min-width: 640px) {
    body {
        width: 600px;
    }

    header {
        margin-top: 30px;
        .logo {
            margin-left: 0;
            left: 25%;
            width: 72%;
        }
        .title {
            margin-left: 0;
            font-size: 3.67rem;
            left: 144px;
            width: 316px;
        }
    }
    main {
        .subheading {
            font-size: 1.8rem;
        }
        .copy {
            font-size: 1.1rem;
        }
    }
}

@media screen and (min-width: 768px) {
    body {
        width: 640px;
    }

    header {
        .title {
            font-size: 3.9rem;
            left: 154px;
            width: 340px;
        }
    }
}

@media screen and (min-width: 1024px) {
    body {
        width: 780px;
    }

    header {
        .title {
            font-size: 4.75rem;
            left: 189px;
            width: 420px;
        }
    }
}
