$MEDIUM_GREY: #666666;
$DARK_GREY: #333333;
$WHITE: #FFFFFF;
$OFF_WHITE: #E8E1DA;
$PURPLE: #5F0647;
$YELLOW: #FFCE00;
$ORANGE: #F99808;
$RED: #F93D08;
$DARK_BLUE: #130957;

@import url(https://fonts.googleapis.com/css?family=Maven+Pro:400,700);

html {
    height: 100%;

    /* Old browsers */
    background: $WHITE;
     /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background: linear-gradient(to bottom, $WHITE 0%, $OFF_WHITE 100%);
}

body {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
}

header {
    margin-top: 50px;
    .logo {
        position: relative;
        left: 25%;
        width: 72%;
    }
    .title {
        margin: 0 25% 40px;
        color: $PURPLE;
    }
}

main {
    border-left: 3px solid $PURPLE;
    border-right: 3px solid $PURPLE;
    padding: 0 30px;
    color: $MEDIUM_GREY;

    .subheading {
        margin-top: 40px;
        color: $DARK_BLUE;
        font-weight: 700;
        &.first {
            margin-top: 0;
        }
    }

    a {
        color: $RED;
        text-decoration: none;
        &:hover {
            color: $ORANGE;
        }
    }

    p {
        line-height: 1.5rem;
    }
}

@media screen and (min-width: 320px) {
    body {
        width: auto;
        margin-left: 10px;
        margin-right: 10px;
    }
}
// TODO: Add CSS animations to make the transitions between breakpoints nicer.

@media screen and (min-width: 480px) {
    body {
        width: 460px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 640px) {
    body {
        width: 600px;
    }
}

@media screen and (min-width: 768px) {
    body {
        width: 640px;
    }
}

@media screen and (min-width: 1024px) {
    body {
        width: 780px;
    }
}
